/* -------- VIDEO BACKGROUND PAGE -------- */

.auth-video-page {
  position: fixed;
  inset:0;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background video */
.auth-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
}

/* Dark overlay for readability */
.auth-video-overlay {
  background:
    radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.65)
    );
}


/* Card */
.auth-mobile-card {
  width: 370px;
  padding: 36px 28px;
  border-radius: 28px;

  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.55),
    rgba(20, 20, 20, 0.35)
  );

  backdrop-filter: blur(18px) saturate(120%);
  -webkit-backdrop-filter: blur(18px) saturate(120%);

  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);

  text-align: center;
  animation: fadeUp 0.7s ease;
  z-index: 1;
}

/* Headings */
.auth-brand {
  font-size: 27px;
  color: rgba(255, 255, 255, 0.7);
}

.auth-title {
  font-size: 33px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.4px;
}

/* Inputs */
.auth-mobile-card input {
  width: 320px;
  padding: 14px 18px;
  margin-bottom: 14px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.9);
  border: none;
  outline: none;

  font-size: 14px;
  color: #111;
}

.auth-mobile-card input::placeholder {
  color: #666;
}


/* Button */
.auth-main-btn {
  width: 100%;
  padding: 14px;
  margin-top: 14px;

  border-radius: 999px;
  border: none;
  font-weight: 600;
  color: white;

  background: linear-gradient(
    to right,
    #ff6a5b,
    #ff3d81
  );

  box-shadow: 0 10px 30px rgba(255, 80, 120, 0.5);
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.auth-main-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 35px rgba(255, 80, 120, 0.65);
}


/* Error */
.auth-error {
  font-size: 13px;
  color: #fff;
  margin-bottom: 10px;
}

/* Switch */
.auth-switch {
  margin-top: 19px;
  font-size: 20px;
  color: #fff;
}

.auth-switch a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




/* Button disabled state */
.auth-main-btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/* Spinner */
.btn-loader {
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

/* Spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}